* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem 5rem;
  display: flex;
  background: linear-gradient(to right, rgb(15, 46, 66), rgba(15, 46, 66, .2));
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 37, 75);
  color: rgb(216, 216, 216);
  z-index: 100;
}

.sortBox {
  display: flex;
}

.sort {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(43, 144, 211, .4);
  z-index: 200;
  color: rgb(216, 216, 216);
}

section {
  border: solid 1px rgba(178, 178, 178, 0.8);
  width: 100%;
  border-radius: 25px;
  margin: 1rem;
  position: relative;
  top: 50px;
}

ul, div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  padding: 1rem;
}

.item {
  list-style: none;
  border: solid 1px rgba(30, 30, 30, .5);
  border-radius: 30px;
  padding: 10px;
  width: 9.5rem;
  text-align: center;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(30, 30, 30, .5);
}

.item:hover, .sort:hover {
  background-color: rgba(15, 46, 66, 0.1);
  cursor: pointer;
}

.title {
  width: 100%;
}

#collection .item {
  color: rgb(192, 192, 192);
}

#favorites .item {
  background-color: rgba(15, 46, 66, .1);
}