* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem 8rem;
  display: flex;
  background: linear-gradient(to right, rgb(15, 46, 66), rgba(15, 46, 66, .2));
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(156, 23, 23), rgb(82, 100, 0));
  color: rgb(216, 216, 216);
  z-index: 100;
}

.sortBox {
  display: flex;
}

.sort {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(43, 144, 211, .4);
  z-index: 200;
  color: rgb(216, 216, 216);
}

section {
  border: solid 1px rgba(178, 178, 178, 0.8);
  width: 100%;
  border-radius: 25px;
  margin: 1rem;
  position: relative;
  top: 50px;
}

ul, div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
  margin: 20px;
  background: linear-gradient(to right, rgb(40, 167, 124), rgb(223, 207, 207));
}

.heading h2 {
  text-align: center;
}

.boxCount {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px 5px 20px;
}

.boxCount h3 {
  padding-bottom: 15px;
  text-align: center;
}

.boxCount div {
  justify-content: left;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  border: solid 5px rgba(30, 30, 30, .5);
  border-radius: 30px;
  padding: 0px;
  width: 9.5rem;
  height: 250px;
  text-align: center;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(30, 30, 30, .5);
}

.item div:nth-child(2) {
  font-size: 12px;
}

.item:hover, .sort:hover {
  background-color: rgba(15, 46, 66, 0.1);
  cursor: pointer;
}

.title {
  width: 100%;
}

#collection .item {
  color: rgb(192, 192, 192);
  background: linear-gradient(45deg, #3c956c, transparent);
}

#favorites .item {
  background: linear-gradient(45deg, #f87373, transparent);
}

@media (max-width: 1200px) {
  body {
    margin: 2rem 1rem;
  }

  .heading {
    flex-direction: column;
  }

  .boxCount {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  body {
    flex-direction: column;
    margin: 2rem 4rem;
  }
  
  .heading {
    margin: 2rem 4rem;
  }
}